  <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre Cliente"
        aria-label="Customername"
        [(ngModel)]="customerForm.nombre"
      />
      <span class="input-group-text">&#64;</span>
      <input
        type="text"
        class="form-control"
        placeholder="Correo Cliente"
        aria-label="CustomerEmail"
        [(ngModel)]="customerForm.correo"
      />
      <button
        class="btn btn-outline-primary"
        type="button"
        id="button-addon2"
        (click)="saveCustomer()">Guardar</button>
    </div>
