<section class="container my-5">
   <h2 class="mb-4">Ordernes Clientes</h2>
   <hr>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Clientes</h3>
                <p>Administra tu lista de clientes fácilmente.</p>
                <a routerLink="/customers" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Pedidos</h3>
                <p>Gestiona órdenes y seguimiento de pedidos.</p>
                <a routerLink="/orders" class="btn btn-primary">Ver más</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <h3>Artículos</h3>
                <p>Controla los productos y su disponibilidad.</p>
                <a routerLink="/items" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
</section>
